#sprite,#bg {
    display: none;
}
#game-canvas {
    border: 3px solid #000000;
    border-radius: 2px;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: -9px;
    bottom: -9px;
    left: -9px;
    right: -9px;
    margin: auto;
    background: url("/projects/game_files/game-bg.jpeg");
    background-size: 101vw;
}
body {
    overflow: hidden;
}