<<<<<<< HEAD
.media{
    flex-wrap:nowrap;
    align-items: center;
    object-fit:contain;
    max-height: 65vh;
    display: inline-block;
    border-radius:10px;
}
#playing-video{
    border: 4px solid black;
    align-items: left;
    max-width:75vw;
    max-height: 65vh;
}
.video {
    max-width: 49vw;
}

.photo {
    float: left;
    
    height: 400px;
    object-fit:scale-down;
}
*{
    color: #ffffffd0 !important;
    background-color: #242424 !important;
}
.header{
    background-color: #3838384d !important;
}
a,u{
    background-color: #242424 !important;
    color: #d3d3d3 !important;
=======
.media{
    flex-wrap:nowrap;
    align-items: center;
    object-fit:contain;
    max-height: 65vh;
    display: inline-block;
    border-radius:10px;
}
#playing-video{
    border: 4px solid black;
    align-items: left;
    max-width:75vw;
    max-height: 65vh;
}
.video {
    max-width: 49vw;
}

.photo {
    float: left;
    
    height: 400px;
    object-fit:scale-down;
}
*{
    color: #ffffffd0 !important;
    background-color: #242424 !important;
}
.header{
    background-color: #3838384d !important;
}
a,u{
    background-color: #242424 !important;
    color: #d3d3d3 !important;
>>>>>>> c96ca7d83f9494abc768572ba8e2f4c5e9345135
}