a {
    text-decoration: none !important;
}
.header{
    background-color: #3838384d !important;
}
.header a{
    color: white !important;
}
body{
    white-space: initial;
    font-family: 'Raleway', sans-serif;
    background-color: #282828;
    overflow-y: auto;
    overflow-x: hidden;
}
#main_vid_bg{
    display: inline-block;
    border-radius: 10px;
    background-color:#212121;
}
#main_vid{
    border-radius: 20px;
    position:relative;
    width: 64vw;
    max-height:80vh;
}
#main_vid_title{
    background-color:#212121;
    position: relative;
    height: 7vh;
    width: auto;
    font-size: 5vh;
    clear:both;
    display: block;
    left: 1.7vw;
}   
.vid{
   position: relative;
   max-width: 100%;
   max-height: 100%;
   left: 3px;
   height: auto;
   border-radius: 10px;
}
.vid_title{
    position: relative;
    display: block;
    margin: 0;
    padding:0;
    top: 0;
    left: 10px;
    font-size: 1.5rem;
    text-align: left;
}
.div_of_vid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /*idk sumthing ^_^*/
    border-radius: 10px;
    position: relative;
    background-color: #141414;
    margin: 5px;
}
#scroll{
    border-radius: 20px;
    display: block;
    background-color: #202020;
    position: absolute;
    width: 34vw;
    height: 100vh;
    top: 81px;
    right: 1vw;
}
h1,h2,h3,h4,h5,h6{
    color: #eeffff;
}
@media screen and (max-aspect-ratio: 16/11) {
    #main_vid,#main_vid_bg,#main_vid_title{
        width: 99vw;
        background-color: #232323;
    }
    #main_vid_title{
        left:1vw;
    }
    #main_vid_bg {
        position: relative;
    }
    #scroll {
        position: relative;
        display: block;
        width: 100vw;
        height: 100%;
    }
}